html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
:focus {
	outline: 0;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
header, nav, section, article, aside, footer {
	display: block;
}
body {
	font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
}
a {
	color: blue;
	outline: none;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
p {
	margin: 0 0 18px;
}
img {
	border: none;
}
input {
	vertical-align: middle;
}
#wrapper {
	width: 100%;
/*	min-width: 1000px;*/
}

/* Fonts
-----------------------------------------------------------------------------*/ 
/* Generated by Font Squirrel (http://www.fontsquirrel.com) on April 17, 2013 10:32:42 PM America/New_York */

@font-face {
    font-family: 'ActionManRegular';
    src: url('fonts/Action_Man-webfont.eot');
    src: url('fonts/Action_Man-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Action_Man-webfont.woff') format('woff'),
         url('fonts/Action_Man-webfont.ttf') format('truetype'),
         url('fonts/Action_Man-webfont.svg#ActionManRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ActionManItalic';
    src: url('fonts/Action_Man_Italic-webfont.eot');
    src: url('fonts/Action_Man_Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Action_Man_Italic-webfont.woff') format('woff'),
         url('fonts/Action_Man_Italic-webfont.ttf') format('truetype'),
         url('fonts/Action_Man_Italic-webfont.svg#ActionManItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ActionManBold';
    src: url('fonts/Action_Man_Bold-webfont.eot');
    src: url('fonts/Action_Man_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Action_Man_Bold-webfont.woff') format('woff'),
         url('fonts/Action_Man_Bold-webfont.ttf') format('truetype'),
         url('fonts/Action_Man_Bold-webfont.svg#ActionManBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ActionManBoldItalic';
    src: url('fonts/Action_Man_Bold_Italic-webfont.eot');
    src: url('fonts/Action_Man_Bold_Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Action_Man_Bold_Italic-webfont.woff') format('woff'),
         url('fonts/Action_Man_Bold_Italic-webfont.ttf') format('truetype'),
         url('fonts/Action_Man_Bold_Italic-webfont.svg#ActionManBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ActionManShadedRegular';
    src: url('fonts/Action_Man_Shaded-webfont.eot');
    src: url('fonts/Action_Man_Shaded-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Action_Man_Shaded-webfont.woff') format('woff'),
         url('fonts/Action_Man_Shaded-webfont.ttf') format('truetype'),
         url('fonts/Action_Man_Shaded-webfont.svg#ActionManShadedRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ActionManShadedItalic';
    src: url('fonts/Action_Man_Shaded_Italic-webfont.eot');
    src: url('fonts/Action_Man_Shaded_Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Action_Man_Shaded_Italic-webfont.woff') format('woff'),
         url('fonts/Action_Man_Shaded_Italic-webfont.ttf') format('truetype'),
         url('fonts/Action_Man_Shaded_Italic-webfont.svg#ActionManShadedItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ActionManExtendedRegular';
    src: url('fonts/Action_Man_Extended-webfont.eot');
    src: url('fonts/Action_Man_Extended-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Action_Man_Extended-webfont.woff') format('woff'),
         url('fonts/Action_Man_Extended-webfont.ttf') format('truetype'),
         url('fonts/Action_Man_Extended-webfont.svg#ActionManExtendedRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ActionManExtendedItalic';
    src: url('fonts/Action_Man_Extended_Italic-webfont.eot');
    src: url('fonts/Action_Man_Extended_Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Action_Man_Extended_Italic-webfont.woff') format('woff'),
         url('fonts/Action_Man_Extended_Italic-webfont.ttf') format('truetype'),
         url('fonts/Action_Man_Extended_Italic-webfont.svg#ActionManExtendedItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ActionManExtendedBold';
    src: url('fonts/Action_Man_Extended_Bold-webfont.eot');
    src: url('fonts/Action_Man_Extended_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Action_Man_Extended_Bold-webfont.woff') format('woff'),
         url('fonts/Action_Man_Extended_Bold-webfont.ttf') format('truetype'),
         url('fonts/Action_Man_Extended_Bold-webfont.svg#ActionManExtendedBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ActionManExtendedBoldItalic';
    src: url('fonts/Action_Man_Extended_Bold_Italic-webfont.eot');
    src: url('fonts/Action_Man_Extended_Bold_Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Action_Man_Extended_Bold_Italic-webfont.woff') format('woff'),
         url('fonts/Action_Man_Extended_Bold_Italic-webfont.ttf') format('truetype'),
         url('fonts/Action_Man_Extended_Bold_Italic-webfont.svg#ActionManExtendedBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Body
-----------------------------------------------------------------------------*/

body {
	font-size: 12px;
	font-family: Helvetica, Arial, sans-serif;
}



/* Header
-----------------------------------------------------------------------------*/
header {

	background: #ffdc17; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffdc17 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffdc17), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffdc17 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffdc17 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffdc17 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffdc17 0%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdc17', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}

header h1 {
	font-family: 'ActionManRegular';
	font-size: 2.166666666667%;
}



/* Middle
-----------------------------------------------------------------------------*/
#middle {
	width: 100%;
	height: 1%;
	position: relative;
}
#middle:after {
	content: '';
	clear: both;
	display: table;
}
#container {
	width: 100%;
	float: left;
	overflow: hidden;
}
#content {
	padding: 0 270px 0 270px;
}


/* Sidebar Left
-----------------------------------------------------------------------------*/
#sideLeft {
	float: left;
/*	width: 250px;
	margin-left: -100%;*/
	position: relative;
/*	background: #B5E3FF;*/
}


/* Sidebar Right
-----------------------------------------------------------------------------*/
#sideRight {
	float: left;
/*	margin-right: -3px;
	width: 250px;
	margin-left: -250px;*/
	position: relative;
/*	background: #FFACAA;*/
}


/* Footer
-----------------------------------------------------------------------------*/
#footer {

	background-color: #FFF;
}



/* Start Media Query - max-width: 480px;
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 480px) {

	header, #middle, footer {
		box-sizing: border-box;
		padding: 3.75%; /*	12/320 */
		width: 100%;
	}


	header { 
		height: 120px;
	}

	header img {
		width: 35%; /*	105/300 */
		float: left;
		margin-right: 2%;
		display:block;
	}

	header h1 {
		font-size: 1.8em;
		line-height: 1;
		width: 61%; /*183/300*/
		float: left;
	}

	header h1 span {
		font-size: 2em;
		font-weight: bold;
		display: block;
		line-height: 1.4;
	}

	#content {
		width: 100%;
		padding: 0;
	}

	#sideLeft, #sideRight {
		clear:both;
	}
	
	/******************* START - welcome SCREEN *******************/

	#enterName .field {
		float: left;
		display: block;
		width: 61%; /*183/300*/
		margin-right: 2%;
		height: 30px;
	} 

	#enterName .button {
		float: left;
		display: block;
		width: 35%;
		height: 30px;
		vertical-align: bottom;
	} 
	/******************* END - welcome SCREEN *******************/

	/******************* START - gameHome SCREEN *******************/

	article.progress {
		display: table;
		clear: both;
		margin: 8% 0 5%;
	}

	article.progress img {
		width: 22%;
		margin-right: 4%;
		display: block;
		float: left;
	}

	article.progress div.bar {
		width: 74%;
		height: 100%;
		display: inline-block;
		background-color: #FFF;
	}

	div.bar .amount {
		width: 1px;
		display: inline-block;
		height: 100%;
	}

	div.bar.fitness .amount {
		background-color: #5E97C9;
	}

	div.bar.tan .amount {
		background-color: #ffdc17;
	}
	
	div.bar.style .amount {
		background-color: #BF4068;
	}

	.gameHome footer {
		clear: both;
		padding: 0;
		position: fixed;
		bottom: -8%;
		left: 3.333333333%;
		height: 25%;
		overflow: hidden;
	}

	.gameHome footer img {
		width: 29%;
		margin: 0 3% 0;
		display: block;
		float: left;
	}

	.gameHome footer img:first-of-type {
		margin-left: 0;
	}	

/*	.gameHome footer img:last-of-type {
		margin-right: 0;
	}	*/

	/******************* END - gameHome SCREEN *******************/

	/******************* START - makeProgress SCREEN *******************/

	article.activity {
		clear: both;
		width: 100%;
	}

	article.activity p {
		padding: 10px 0;
/*		text-align: center;*/
		font-size: 1.3em;
		width: 74%;
		margin: 3% auto;
		line-height: 1.5;
	}
	
	article.activity img {
		width: 48%;
		margin: 0 auto;
		display: block;
	}
	/******************* END - makeProgress SCREEN *******************/

	/******************* START - chooseTan/Skin Exam SCREEN *******************/

	article.activity input {
		width: 74%;
		clear: both;
		margin: 2% auto;
		display: block;
		height: 20px;
	}

	#content h2 {
		font-size: 1.6em;
		margin-top: 5%;
	}

} 

/* End Media Query - max-width: 480px;
-----------------------------------------------------------------------------*/	
#gameHome, #makeProgress, #chooseTan, 
#skinExam, #fameStatus, #castingCall, #castingCallResult, #final, #removeMole {
	display: none;
}
